In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier #sklearn is the package which comes with the scikit lean library. It contains a module tree; And module has a class called DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier #sklearn is the package which comes with the scikit lean library. It contains a module tree; And module has a class called DecisionTreeClassifier
from sklearn.metrics import accuracy_score # to calculate the accuracy of the model
import joblib #this joblib object has methods for saving and loading models
from sklearn import tree # To obtain a graphical image of the data model


data_frame = pd.read_csv('music.csv') #returns a data frame similar to excel spreadsheet
data_frame.shape #returns number of rows and columns

(18, 3)

In [19]:
data_frame

    age   gender      genre
0     20       1     HipHop
1     23       1     HipHop
2     25       1     HipHop
3     26       1       Jazz
4     29       1       Jazz
5     30       1       Jazz
6     31       1  Classical
7     33       1  Classical
8     37       1  Classical
9     20       0      Dance
10    21       0      Dance
11    25       0      Dance
12    26       0   Acoustic
13    27       0   Acoustic
14    30       0   Acoustic
15    31       0  Classical
16    34       0  Classical
17    35       0  Classical

In [20]:
#now we need to split the data into two data sets
#one for input and the other for output
X = data_frame.drop(columns=['genre']) #By convetion X is used to represent input set
X

    age   gender
0     20       1
1     23       1
2     25       1
3     26       1
4     29       1
5     30       1
6     31       1
7     33       1
8     37       1
9     20       0
10    21       0
11    25       0
12    26       0
13    27       0
14    30       0
15    31       0
16    34       0
17    35       0

In [21]:
y = data_frame['genre'] # by convention y is used to represent output data set
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [52]:
#Train the data set
#from sklearn.model_selection import train_test_split
#The more data is given to the model to train and cleaner the data is, better is the accuracy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #Allocating 20% data for testing; This method returns a tuple of 4 values

#create a model using an algorithm
#from sklearn.tree import DecisionTreeClassifier #sklearn is the package which comes with the scikit lean library. It contains a module tree; And module has a class called DecisionTreeClassifier
model = DecisionTreeClassifier() # Instance of DecisionTreeClassifier

#Train the Model; so it learns the patterns in the data
#model.fit(X,y) pass input and output data; this takes full data for training
model.fit(X_train,y_train) #takes only 80% data to train the model

#joblib object has methods for saving and loading models
#lets save the model
joblib.dump(model, 'music-recommender.joblib') #this can now be used to load later to access the trained model

#Evaluate to make predictions
#predictions=model.predict([ [21,1], [22,0] ]) # predict takes a 2D array; inner array consists of a input set to predict on. It is never recommended to pass manually the test values; instead use the test set
predictions=model.predict(X_test)
predictions

#Measuring the accuracy
score = accuracy_score(y_test,predictions) #returns an accuracy score b/w 0 and 1
score

1.0

In [56]:
#Model persistence is important for large data. It's not always easy to train the data everytime a new data gets added.
#Save the trained model to a file to make predictions 
#loading the trained model
loaded_model = joblib.load('music-recommender.joblib')
predictions_new = model.predict([ [21, 1], [66,0] ])
predictions_new

array(['HipHop', 'Classical'], dtype=object)

In [59]:
#visualizing the data set
tree.export_graphviz(model, out_file='music_recommender_graph.dot', feature_names=['age', 'gender'], class_names=sorted(y.unique()), label='all', rounded=True, filled=True)